.shopping-cart-container {
    margin-top: 5px; /* Adjust based on your navbar height */
    padding: 20px;
    margin-left:-450px;
    position: relative
}

.shopping-cart-header {
    font-size: 2.5rem;
    color: #000000;
    text-align: center;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 100px;
}

.empty-cart-message {
    font-size: 1.2rem;
    color: #666;
    text-align: center;
    margin-top: 50px;
}

.shopping-cart {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-items-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    margin-right: -5px;
    width: 100%; /* Add this to ensure full width */
    justify-content: space-between; /* This will push items to opposite sides */
    align-items: flex-end;
    
}

.cart-item-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    align-self: flex-start;
}

.cart-item-price {
    color: #000000;
    margin-top: 5px;
    /* Add this to ensure price is on the right */
    align-self: flex-end;
    font-size: 1.5em;
}

.remove-item-btn {
    align-self: flex-start;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-item-btn:hover {
    background-color: #ff6b6b;
}

.cart-total {
    margin-top: -200px;
    position: absolute; /* Position absolutely relative to the container */
    right: 300px; /* Adjust this value to move further right */
    font-size: 1.5rem;
}

.total-label {
    margin-right: 10px;
    font-weight: bold;
    color: #000000;
}

.total-amount {
    color: #007bff;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .cart-item {
        flex-direction: column;
        text-align: center;
    }
    .shopping-cart-container {
        margin-left: 0;
    }
    .cart-total {
        position: static; /* Reset positioning for smaller screens */
        text-align: right;
    }

    .cart-item-image {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .remove-item-btn {
        align-self: center;
    }
}
